body {
	font: 14px Arial, sans-serif;
	margin: 0px;
}

header {
	padding: 10px 10px;
	background: #acb3b9;
	text-align: center;
}
body {
	padding: 10px 10px;
	text-align: center;
}

.header h1 {
	font-size: 24px;
}

.section {
	padding: 10px 10px;
	background: #acb3b9;
}

.section h1 {
	font-size: 18px;
}

.container {
	width: 100%;

	background: #ffffff;
	
}

.item {
	float: left;
	padding: 20px;
	box-sizing: border-box;
}

.item h2 {
	font-size: 16px;
}

.item-numero {
	width: 40%;
	background: #d4d7dc;
}

.item-corso {
	width: 40%;
}

.item-stato {
	width: 20%;
}

footer {
	background: #acb3b9;
	text-align: center;
	padding: 15px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
table,th,td {
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
a.button {
  font: bold 17px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
input.button {
	font: bold 17px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
html {
	background-color: #E0E0E0;
}
.linkIndex {
	margin-top: 100px;
	font-size: 20px;
}

