<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Aggiungi corso</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/universita.css}"/>
</head>
<body>

	<header>
	
		<h1>Universita' di Atlantide</h1>
		<h2>Aggiungi nuovo corso di laurea</h2>
	
	</header>
	
	<form action="#" method="post"
		th:action="@{/corsi/aggiungicorso}" th:object="${corso}">
		<table>
			<thead>
				<tr>


					<th>Codice corso</th>
					<th>Nome corso</th>
					<th>Indirizzo</th>
					<th>Numero esami</th>
					


				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" th:field="*{codice}" id="codice" required="required"></td>
					<td><input type="text" th:field="*{nome}" id="nome" required="required"></td>
					<td><input type="text" th:field="*{indirizzo}" id="indirizzo" required="required"></td>
					<td><input type="number" th:field="*{numeroEsami}" id="numeroEsami" min="10" required="required"></td>
					
					<td><input type="submit" value="Inserisci corso"></td>
				</tr>
			</tbody>

		</table>
		
	</form>
	
	</form>
	<a href="http://localhost:8080">Torna alla home</a>
	
	<footer>
		<p>Powered by Simone Guidi &copy; 2022</p>
	</footer>
</body>
</html>