<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Università</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/universita.css}"/>
</head>
<body>
	<header>
	
		<h1>Universita' di Atlantide</h1>
	
	</header>
	<div class="linkIndex">
		<a href="/studenti/visualizzastudenti">Gestione studenti</a> <br> <br>
		<a href="/corsi/visualizzacorsi">Gestione corsi</a>
	</div>
	<footer>
		<p>Powered by Simone Guidi &copy; 2022</p>
	</footer>

</body>
</html>