<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Informazioni Studenti</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/universita.css}"/>
</head>
<body>
	<header>
		<h1>Universita di Atlantide</h1>
		<h2>Elenco studenti</h2>
	
	</header>
	<table>

		<thead>

			<tr>

				<th>Id</th>
				<th>Nome</th>
				<th>Cognome</th>
				<th>Indirizzo</th>
				<th>Citta'</th>
				<th>Email</th>
				<th>Corso di laurea</th>


			</tr>

		</thead>
		<!-- th prende la collection e la cicla per tutti gli elementi, a runtime toglie i th: e mette i dati effettivi -->
		<div th:each="s : ${pippo}">
		<tbody>
			<tr>

				<td th:text="${s.id}"></td>
				<td th:text="${s.nome}"></td>
				<td th:text="${s.cognome}"></td>
				<td th:text="${s.indirizzo}"></td>
				<td th:text="${s.citta}"></td>
				<td th:text="${s.email}"></td>
				<td th:text="${s.corsoDiLaurea.nome}"></td>
<!-- 				<td><a th:href="@{/studenti/formaggiornastudente/{matricola}(matricola=${s.getMatricola()})}">Aggiorna</a></td> -->
<!-- 				<td><a th:href="@{/studenti/eliminastudente/{matricola}(matricola=${s.getMatricola()})}" onclick="return confirm('Sei sicuro di voler eliminare questo elemento?')">Elimina</a></td> -->

			</tr>
		</tbody>
		</div>
	</table>
	<a href="/studenti/mostraform" class="button">Aggiungi studente</a> <br> <br>
	
	<a href="http://localhost:8080">Torna alla home</a>
	
	<footer>
		<p>Powered by Simone Guidi &copy; 2022</p>
	</footer>

</body>
</html>
